body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    background:  #6e3666;
    font-family: Arial, sans-serif;
}

.player {
    width: 320px;
    background: #f2d4e1;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.cover {
    margin: 20px 0;
}

.cover img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid white;
}

h2 {
    margin: 10px 0 5px;
}

p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

#progress {
    width: 100%;
    margin: 20px 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 20px;
}

#playPause {
    width: 65px;
    height: 65px;
    background: #e91e63;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}